a[href*="ya"] {
	color: #f70;
}
a[target="_blank"]:after {
	display: inline-block;
	margin-left: 5px;
	content: " ⇱ ";
	-moz-transform: rotate(90deg); /* Для Firefox */
	-ms-transform: rotate(90deg); /* Для IE */
	-webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
	-o-transform: rotate(90deg); /* Для Opera */
	transform: rotate(90deg);
}
a[href*="google"] {
	color: #666;
}