a[href="http://ya.ru"], a[href="https://mail.ya.ru"], a[href="http://maps.yandex.ru"] {
	color: #f70;
}
a[target="_blank"]:after {
	display: inline-block;
	margin-left: 5px;
	content: " ⇱ ";
	-moz-transform: rotate(90deg); /* Для Firefox */
	-ms-transform: rotate(90deg); /* Для IE */
	-webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
	-o-transform: rotate(90deg); /* Для Opera */
	transform: rotate(90deg);
}
a[href="http://google.com"], a[href="http://maps.google.com"], a[href="http://news.google.com"] {
	color: #666;
}