.search {
	width: 50%;
	height: 50px;
	background-color: #fc6;
	padding: 5px;
	margin: 0 auto;
    min-width: 550px;
    position: relative;
}
.search:after {
    content: '';
    position: absolute;
    border: 30px solid transparent;
    border-left: 17px solid #ffcc66;
    top: 0;
    right: -47px;
}
.input-search {
	height: 25px;
	width: 90%;
}
.btn-search {
	height: 25px;
	width: 9%;
}
.check-search {
	display: block;
	cursor: pointer;
	margin: 5px 0;
}
#check-search{
	margin-left: 0;
	vertical-align: sub;
}